<% if book.favorited_by?(current_user) %>
  <td id="favorite_after">
    <%= link_to book_favorites_path(book), class:"favorite_after", method: :delete do %>
      ♥<%= book.favorites.count %>
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to book_favorites_path(book), method: :post do %>
      ♥<%= book.favorites.count %>
    <% end %>
  </td>
<% end %>